
.section {
  .swiper-container {
    //width: 100%;
    overflow: visible;

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }

    @media screen and(min-width: $mediumScreen) {
      overflow: hidden;
    }

  }
}


.swiper-slide {
  //height: 288px;

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.swiper-slide {
  width: 100%; /* full width */
  height: 100%; /* height of carousel */
  z-index: 100;

  img {
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}
