.course-page {
  position: relative;

  .courses__card {
    display: block;  // определяем страницу по классу на <body> и если да, то показываем карту на мобильном уровне
  }

  .section {
    padding: 4.5rem 0;
  }

  .header {
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid $colorAccent;

    .flex-container {
      padding: 0 1rem;
    }



    @media screen and(min-width: $smallScreen) {
      height: 85px;
    }

    @media screen and(min-width: $mediumScreen) {
      height: 38px;
    }

    @media screen and(min-width: $largeScreen) {
      height: 42px;
    }

    @media screen and(min-width: $extraLargeScreen) {
      height: 58px;
    }
  }

  .hero-course {
    padding: 0;
    position: relative;
  }

  .courses-img {
    margin-bottom: 3.5rem;

    img {
      width: 120%;
      transform: translateX(-10%);
    }

  }

  .courses__card {
    display: block;  // показываем инфо карточку о курсах

    .card-title {
      margin-bottom: 1.5rem;
    }

    .card-text {
      margin-bottom: 1.875rem;
    }

    .card__info {
      margin-bottom: 2.5rem;
      display: flex;
      flex-wrap: wrap;

      .card__info-bullet {
        margin-right: $baseFontSizeAsRem * 1.5;
        display: flex;
        align-items: center;

        &:last-child {
          margin-top: 1.5rem;
        }

        .bullet-icon {
          margin-right: 0.5rem;
          width: 2rem;
          height: 2rem;
          background-color: $colorGrey;
        }
      }
    }
  }

}

.course-promo {
  margin: 0 auto;
  display: block;

  .promo-text {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 56px 0;

    @media screen and (min-width: $smallScreen) {
      padding: 124px 0;
    }

    @media screen and (min-width: $mediumScreen) {
      padding: 94px 0;
      max-width: 40%;

    }

    @media screen and (min-width: $largeScreen) {
      padding: 144px 0;
    }
  }
}

// STAGES

.stage-img {
  margin-bottom: 5.625rem;
  overflow: hidden;

  img {
    width: 120%;
    transform: translateX(-10%);
  }
}

.stage-text {
  margin-bottom: 90px;

  @media screen and(min-width: $smallScreen) and(max-width: $mediumScreen) {
    margin-bottom: 144px;
  }

  @media screen and(min-width: $mediumScreen) {
    margin-bottom: 0;
  }
}
// ----  STAGES



// certificate

.certificate-img {
  margin-bottom: 3.5rem;

  img {
    width: 100%;
    height: auto;
  }
}

// ---- certificate


// REVIEW

.review-card {
  padding: 22px;
  border: 2px solid #EFF6F4;
  border-radius: 10px;

  .review-card__author {
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;

    .author-img {
      margin-right: 1rem;
      img {
        width: 4.25rem;
        height: 4.25rem;
      }
    }

    .author-name {
      font-weight: bold;
    }
  }

  .review-card__text {
    margin-bottom: 1.5rem;
  }

  .review-card__source {
    display: flex;
    align-items: center;

    .source-link {
      margin-left: 0.5rem;
      display: inline-block;
      color: $colorPrimary;
    }
  }
}





// ---- REVIEW


@media screen and(min-width: $mediumScreen) {
  .course-page {
    .hero-course {
      height: 600px;
    }

    .hero-course-container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }

    .courses__card,
    .courses-img {
      flex-basis: 48%;
    }

    .courses-img,
    .stage-img {
      margin-bottom: 0;
      img {
        width: 100%;
        transform: none;
      }
    }

    .courses__card .card__info .card__info-bullet:last-child {
      margin-top: 0;
    }

    .stages-container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .container {
        padding: 0;
      }
    }

    .stages-container--reverse {
      flex-direction: row;
    }

    .stage-img {
      flex-basis: 100%;

    }

    .stage-description {
      padding-left: 3rem;
      width: 80%;
    }

    .certificate-wrapper {
      display: flex;
      align-items: center;

      .certificate-img,
      .certificate-description {
        flex-basis: 50%;
      }

      .certificate-img {
        margin-bottom: 0;
      }

      .certificate-description {
        padding-left: 3.75rem;
        padding-right: 2rem;
      }
    }
  }
}

@media screen and(min-width: $extraLargeScreen) {
  .course-page {
    .section {
      padding: 9rem 0;
    }

    .course-promo {
      padding: 7rem 0;
    }
  }
}



.navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;

  .navigation-container {
    padding: 91px;
  }

  .navigation-list {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;

    .item {
      flex-basis: 21%;
      margin-bottom: 2rem;
    }
  }

  .navigation-title {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
  }

  .navigation-links {
    padding-left: 17px;

    .item {
      margin-bottom: 0.8rem;
    }

    .item-link {
      position: relative;
      color: $colorFontMain;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -$baseFontSizeAsRem * 0.8;
        width: $baseFontSizeAsRem / 2;
        height: $baseFontSizeAsRem / 16;
        background-color: $colorFontMain;
      }

      &:hover::before {
        background-color: $colorHover;
      }

      &:hover {
        color: $colorHover;
      }
    }

  }
}
