.courses__card {
  display: none;  // изначально на телефоне инфо блок о курсах скрыты
}

.section.courses {
  padding-top: 0;  // убрали заданнный отступ секции
  padding-bottom: 0;
}

.accordion {
  margin-top: 56px;  // добавили отступ секции через аккордеон, потому что карточка должжа быть прижата к верху секции
}

@media screen and(min-width: $mediumScreen) {
  .courses-container {
    display: flex;
    justify-content: space-between;

    .courses__card {
      display: block;  // показываем инфо карточку о курсах
      flex-basis: 50%;
      border-left: 1px solid $colorAccent;

      .card__img {
        position: relative;
        img {
          //width: $baseFontSizeAsRem * 31.5;
          width: 100%;
        }

        .card__img--additional {
          position: absolute;
          top: 0;
          right: 0;
          width: 35%;
          transform: translateX(50%);
        }
      }

      .card__description {
        padding-left: 2.5rem;
        padding-bottom: 2.5rem;
      }

      .card-text {
        margin-top: 4.8rem;
        margin-bottom: 1.875rem;
        max-width: 80%;
        font-size: $baseFontSizeAsRem;
      }

      .card__info {
        margin-bottom: 2.5rem;
        display: flex;

        .card__info-bullet {
          margin-right: $baseFontSizeAsRem * 1.5;
          display: flex;
          align-items: center;

          .bullet-icon {
            margin-right: 0.5rem;
            width: 2rem;
            height: 2rem;
            background-color: $colorGrey;
          }
        }
      }
    }

    .accordion {
      .item {
        .accordion__outer-list {
          justify-content: flex-end;
        }
      }

      .item-data {
        display: none;
      }

      .separator::after {
        left: -9999px;
      }
    }
  }
}

@media screen and (min-width: $extraLargeScreen) {
  .courses-container {
    .courses__card {
      .card-text {
        max-width: 60%;
      }

      .card__img {
        img {
          width: 853px;
        }
      }
    }
  }

  .courses__title {
    margin-top: 56px;
  }
}
