.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 1001;

  .flex-container {
    padding: 0 2rem;
  }
}

.burger-line {
  margin-bottom: 4px;
  width: 22px;
  height: 2px;
  background-color: $colorWhite;
  border-radius: 4px;
}

.btn-header {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  border-radius: 0;
}


@media screen and(min-width: $smallScreen) and(max-width: $mediumScreen){
  .header {
    .header-logo {
      padding: 18px 0;

      img {
        height: 28px;
      }
    }
  }
}
