.promo {
  display: none;
}

@media screen and (min-width: $mediumScreen) {
  .promo {
    display: block;
    position: relative;
    height: 100vh;
    background-image: url('@images/backgrounds/promo-background.jpg');
    background-position: center center;
    background-size: cover;
  }

  .promo-description,
  .promo-description--2{
    position: absolute;
    font-family: "Lora-Regular", serif;
    font-size: $baseFontSizeAsRem * 1.5;
    font-weight: 100;
    color: $colorWhite;
  }

  .promo-description {
    top: 14rem;
    left: 10rem;
  }

  .promo-description--2 {
    right: 8rem;
    bottom: 14rem;
  }

}

