@import 'normalize.scss';
@import 'variables.scss';
@import 'typography.scss';

@import 'mixins.scss';
@import 'utils.scss';
@import 'containers.scss';
@import "media-queries.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $mainFont;
  font-size: $baseFontSize;
  color: $colorFontMain;
  letter-spacing: -0.47px;
}

.section {
  padding: 56px 0;
  overflow: hidden;

  @media screen and(min-width: $smallScreen) {
    padding: 90px 0;
  }

  @media screen and(min-width: $mediumScreen) {
    padding: 110px 0;
  }
}
