// ----- screens
$largeScreen: 1920px;
$mediumScreen: 1024px;
$smallScreen: 768px;
$extraSmallScreen: 360px;

// ----- containers
$baseContainerPadding: 1rem;

// ----- fonts
$mainFont: 'Arial';
$baseFontSize: 16px;
$baseFontSizeAsRem: 1rem;


// ----- Main colors
$colorFontMain: #1F1F1F;
$colorPrimary: #96BCB0;

$colorAccent: #EFF6F4;


// ----- Additional colors
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGrey: #DADADA;



