.about-description {
  margin-bottom: 3.5rem;
}

.features-list {
  padding: 0 1.375rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .item {
    margin-bottom: 2.75rem;
    display: grid;
    place-items: center;
    font-size: 0.875rem;
    text-align: center;

    .item-img {
      @include size(114px, 114px);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 9px;
      border: 1px solid $colorGrey;
      border-radius: 50%;

      img {
        @include size(35px, 35px);
        background-color: $colorGrey;
        opacity: 0.3;
      }
    }

    .item-title {
      max-width: 120px;
      width: 100%;
      line-height: 17px;
    }
  }
}
