.hero {
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  background-image: url('../app/assets/images/backgrounds/hero-background.png');
  background-position: center center;
  background-size: cover;
}

.hero__title,
.hero__suptitle {
  color: $colorWhite;
}

.hero__suptitle {
  margin-bottom: 1rem;
}



