.feedback {
  background-image: url('~@images/backgrounds/feedback-background.png');
  background-position: center left 33%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and(min-width: $mediumScreen) {
  .feedback-form {
    text-align: right;
    margin-right: 10rem;
  }
  .form-wrapper {
    display: inline-flex;
    justify-content: flex-end;
  }

  .feedback-title {
    text-align: left;
  }
}
