.review-card {
  padding: 22px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 408px;
  height: 276px;
  border: 2px solid #EFF6F4;
  border-radius: 10px;


  .review-card__author {
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;

    .author-img {
      margin-right: 1rem;
      img {
        width: 4.25rem;
        height: 4.25rem;
      }
    }

    .author-name {
      font-weight: bold;
    }
  }

  .review-card__text {
    margin-bottom: 1.5rem;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // -webkit-line-clamp: 3;
    // line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  .review-card__source {
    display: flex;
    align-items: center;
    margin-top: auto;

    .source-link {
      margin-left: 0.5rem;
      display: inline-block;
      color: $colorPrimary;
      transition: $buttonAnimation;

      &:hover {
        color: $colorHover;
      }

      &:focus,
      &:active {
        color: $colorFocus;
      }
    }
  }
}

