.btn {

}

.btn-primary {
  padding: 12px 16px;
  color: $colorWhite;
  font-weight: 500;
  font-size: 16px;
  background-color: $colorPrimary;
  border: none;
  border-radius: 2px;
}

.btn-outline {
  padding: 12px 16px;
  color: $colorWhite;
  background-color: transparent;
  border: 1px solid $colorWhite;
  border-radius: 1.5px;
}



.btn-circle {
  width: 34px;
  height: 34px;
  font-size: 20px;
  font-weight: 300;
  color: $colorPrimary;
  background-color: $colorAccent;
  border: 1px solid $colorGrey;
  border-radius: 50%;
}
