// ----- containers
$baseContainerWidth: 360px;
$baseContainerPadding: 16px;


// ----- fonts
$mainFont: 'Arial'; // todo font & fallback
$baseFontSizeAsRem: 1rem;
$baseFontSize: 16px;



// ----- Main colors

$colorFontMain: #1F1F1F;
$colorPrimary: #96BCB0;
$colorAccent: #EFF6F4;

// ----- Additional colors
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGrey: #DADADA;



