.visually-hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  height: 0;
  opacity: 0;
  transition: all .3s;
}

.push-left   { margin-right: auto; }
.push-right  { margin-left: auto; }
.push-top    { margin-bottom: auto; }
.push-bottom { margin-top: auto; }

.full-height { height: 100%; }
.full-width  { width: 100%; }


.separator::after {
  position: absolute;
  left: 16px;
  margin-left: -16px;
  margin-right: -16px;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #EFF6F4;
}

.separator-top::before {
  position: absolute;
  left: 0;
  margin-left: -16px;
  margin-right: -16px;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #EFF6F4;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


.mr-05 {
  margin-right: 0.5rem;
}

.show-desktop {
  visibility: hidden;
}

@media screen and (min-width: $mediumScreen) {
  .show-desktop {
    visibility: visible;
  }

  .show-mobile {
    display: none;
    visibility: hidden;
  }
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;

  @media screen and(min-width: $mediumScreen) {
    flex-direction: unset;
    justify-content: unset;
  }
}

