.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wpcf7-form {
  p {
    text-align: left;
  }

  .input-radio {
    .first {
      margin-left: 0;
    }
  }
}

.input-label {
  margin-bottom: 2px;
  display: block;
  font-size: 0.8rem;
  color: #A3B5B0;
  font-weight: normal;
  text-align: left;
}

.form-input {
  position: relative;
  display: block;
  margin-bottom: 1.75rem;
  width: 20.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333333;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #E1E5E4;


  &:focus {
    outline: none;
  }
}






input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}


