.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: $colorPrimary;
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    pointer-events: none;
}


.animate {
    visibility: hidden;
}

.animate-right {
    visibility: hidden;
}

ul.transition {
    display: flex;
    position: absolute;
    z-index: 10000;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
}

ul.transition {
    li {
        transform: scaleY(0);
        background-color: white;
        width: 20%;
    }
}